@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Modak&family=Outfit:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

a {
  text-decoration: none;
}

html {
  background-color: #252525;
  color: #fff;
}

header .top {
  display: flex;
  align-items: center;
  z-index: 5;
  position: relative;
}

header .top nav {
  display: flex;
  align-items: center;
  flex: 1;
  background-color: #fff;
  padding: 1rem 2rem;
  border-top-left-radius: 4rem;
  border-bottom-left-radius: 4rem;
}

header .top nav a {
  color: #000;
  font-weight: bold;
  margin-right: 2rem;
}

header .top nav a:hover {
  opacity: 0.75;
}

header .top .toggle-btn {
  margin-left: auto;
  width: 40px;
  height: 40px;
  background-color: #0c181e;
  color: #fff;
  border: none;
  border-radius: 6px;
}

header .logo {
  font-size: 1.4rem;
  margin: 0.8rem;
  font-family: "Modak", system-ui, sans-serif;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0.8rem 0 0.8rem;
}

.bottom span,
.bottom a {
  color: #d8d8d8;
}

.title h1 {
  font-size: 15vw;
  font-weight: 400;
  text-align: center;
  font-family: "Modak", system-ui, sans-serif;
  position: relative;
}

.title h1::after {
  content: "City";
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  font-family: "Comforter", cursive;
  font-size: 8vw;
  color: #89cda5;
  animation-delay: 1s;
  animation: resize-width cubic-bezier(0.165, 0.84, 0.44, 1) 1.4s forwards;
  overflow: hidden;
}

@keyframes resize-width {
  from {
    width: 0;
  }
  to {
    width: 5ch;
  }
}

.palette,
.sym {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.color {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.color .swatch {
  min-width: 2.6rem;
  min-height: 2.6rem;
  border-radius: 6px;
  margin-left: 0.2rem;
}

main {
  padding: 0.8rem;
  max-width: 1500px;
  margin: 0 auto 2rem auto;
  overflow: hidden;
}

footer {
  margin-top: 1rem;
}

/* grid content */
#content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
}

#content #building-img {
  grid-row: span 2;
  grid-column: span 2;

  height: 40rem;
}

#content #about-me {
  grid-column: span 2;
}

#content #about-me a {
  color: #fff;
  font-weight: 600;
  border: 2px solid #fff;
  border-radius: 2rem;
  display: block;
  padding: 0.5rem 1rem;
  text-align: center;
  margin-top: 0.8rem;
}

#content #about-me a:hover {
  background-color: #fff;
  color: #000;
}

#content #ramen-cart-img {
  grid-column: span 2;
}

#content #libri-img {
  grid-row: 4 / 5;
}

#content #bus-img {
  grid-row: span 2;
}

#content #clock-tower-img {
  grid-column: span 2;
  grid-row: span 2;

  height: 40rem;
}

/* grid-img*/
.grid-img {
  position: relative;
}

.grid-img::before,
.grid-img::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  border: solid 0.4rem #252525;
  border-radius: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-img-y::before,
.grid-img-y::after {
  width: 100%;
  height: 50%;
  left: 0;
}

.grid-img-x::before,
.grid-img-x::after {
  width: 50%;
  height: 100%;
}

.grid-img-x::before {
  left: 0;
}

.grid-img-x::after {
  right: 0;
}

.grid-img-y::before {
  top: 0;
  background-position: top;
}

.grid-img-y::after {
  bottom: 0;
  background-position: bottom;
}

/* images */
#building-img::before,
#building-img::after {
  background-image: url("./img/buildings.jpg");
}

#ramen-cart-img::before {
  background-image: url("./img/ramen-cart.jpg");
}

#ramen-cart-img::after {
  background-image: url("./img/ramen-cart-2.jpg");
}

#libri-img {
  background-image: url("./img/libri.gif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#bus-img::before {
  background-image: url("./img/bus.jpg");
}

#bus-img::after {
  background-image: url("./img/buses-on-road.jpg");
}

#clock-tower-img::before,
#clock-tower-img::after {
  background-image: url("./img/clock-tower.jpg");
}

/* misc */
header .bottom {
  transition: transform cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}

.toggle-up {
  transform: translateY(-10rem);
}

.color .icon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: solid 1px white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.4rem;
}

/* transitions / anims */
.pop-up {
  transition: transform cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s,
    opacity cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
  opacity: 0;
  transform: translateY(50px);
}

.pop-up.anim {
  transform: translateY(0);
  opacity: 1;
}

.slide-right {
  transition: transform cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s,
    opacity cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
  opacity: 0;
  transform: translateX(-100px);
}

.slide-right.anim {
  transform: translateX(0);
  opacity: 1;
}

.slide-left {
  transition: transform cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s,
    opacity cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
  opacity: 0;
  transform: translateX(100px);
}

.slide-left.anim {
  transform: translateX(0);
  opacity: 1;
}

.blink {
  animation: blink ease-in 1.4s infinite;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.instant-pop-up {
  animation: instant-pop-up cubic-bezier(0.165, 0.84, 0.44, 1) 1s forwards;
}

@keyframes instant-pop-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
